<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {tituloWeb: 'Reservas'}) %>
<body id="body-reserva">
  <%- include('partials/header') %>
    <div class="container mt-4 text-light">
        <h1>Reservas Registradas</h1>

        <table class="table mt-4">
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Cliente</th>
                  <th>Fecha de Reserva</th>
                  <th>Cantidad de Comensales</th>
                  <th>Estado</th>
                </tr>
            </thead>
            <tbody id="reservas">
              <% reservas.forEach(reserva => { %>
                <tr>
                    <td><%= reserva.id %></td>
                    <td><%= reserva.cliente_id %></td>
                    <td><%= reserva.fecha_reserva %></td>
                    <td><%= reserva.cantidad_comensales %></td>
                    <td><%= reserva.estado %></td>
                    <td>
                      <button class="btn cuisine-warning btn-sm" onclick="editarReserva($,{reserva,id})">Editar</button>
                      <button class="btn cuisine-danger btn-sm" onclick="eliminarReserva($,{reserva,id})">Eliminar</button>
                    </td>
                </tr>
                
            <% }); %> 
            </tbody>
        </table>
    </div>
    <footer class="">
        <nav class="navbar navbar-expand-md">
          <div class="container-fluid justify-content-center">
            <ul class="d-flex justify-content-evenly nav">
              <li class="nav-item footer">
                <a class="nav-link" href="/contacto">Contáctenos</a>
              </li>
              <li class="nav-item footer">
                <a class="nav-link" href="/">MA CUISINE Prensa</a>
              </li>
              <li class="nav-item footer">
                <a class="nav-link footer" href="/">Diseño por CAnton</a>
              </li>
              <li class="nav-item">
                <a class="nav-link footer" href="/"
                  >Términos y condiciones</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link footer" href="/"
                  >Políticas de privacidad</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contacto"
                  >E-mail:contact@macuisine.com</a
                >
              </li>
            </ul>
            <!-- <div class="collapse navbar-collapse justify-content-end">
                  </div>-->
          </div>
        </nav>
      </footer>
      <!-- Scripts -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script src="../public/js/reservas.js"></script>   
      <script>
        // Aquí se simula el usuario autenticado con su rol
        const user = {
            isAdmin: true // Cambia esto según el rol del usuario
        };
  
        // Verificar si el usuario es administrador y mostrar el enlace de Usuarios
        if (user && user.isAdmin) {
        const reservasLink = document.getElementById('reservas-link');
        const clientesLink = document.getElementById('clientes-link');
        if (reservasLink) {
          reservasLink.style.display = 'block'; // Mostrar el enlace de Usuarios
        }
        if (clientesLink) {
          clientesLink.style.display = 'block'; // Mostrar el enlace de Clientes
        }
      }
    </script>
    
</body>
</html>